<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Book</title>
    <style type="text/css">
    div.dir_list{
        font-style:oblique;
        font-weight:900;
    }
    </style>

</head>
<body>
    <p>文件夹:</p>
    <dl>
        {% for dir in dir_list: %}
        <dd> <a href="{{ '/?bp=' + current_path + '/' + dir}}"> {{ dir }} </a></dd>
        {% endfor %}
    </dl>
    <p>文件:</p>
    <dl>
        {% for file in file_list: %}
        <dd> <a href="{{ '/catalog/?bookname=' + file + '&path=' + current_path + '/' + file}}"> {{ file }} </a></dd>

        {% endfor %}
    </dl>

    <a href="{{ '/?bp=' + last_path}}"> 上一目录 </a>

    <form action="/catalog/" method="post" enctype="multipart/form-data">
        <p><input type="file" name="bookName"></p>
        <p><input type="submit" value="submit"></p>
    </form>

</body>
</html>